body
{
	background: URL("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpaperaccess.com%2Fwindows-81&psig=AOvVaw1Y1CMM8zK29F5sSVDJ_tPT&ust=1637151467267000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCOjz4NDunPQCFQAAAAAdAAAAABAD");
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
